.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.marta-dashboard {
    margin: 0 auto;
}

.marta-dashboard td {
    padding: .5em .75em;
}

.boarding {
    background-color: #00b300;
    color: white
}
.blue {
    color: blue;
}

.green {
    color: #145A32;
}

.red {
    color: red;
}

.gold {
    color: #DAA520;
}

table:hover {
    cursor: default;
}

td {
    padding: .2em;
}
.options {
    padding: 0 .5em;
}

.calculator {
  text-align: center;
  font-size: 4em;
  margin-top: 2em;
  margin: 0 auto;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #4484CE;
    height: 3em;
    max-width: 100%;
}

.nav a {
    text-decoration: none;
    color: #FFF;
}

.nav a:hover {
    color: #F9CF00;
}

.nav li {
    margin: 0 1em;
    font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}